@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: green gray;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(37 99 235/1);
    border-radius: 20px;
    border: 3px solid rgb(243 244 246/1);
  }
  .input-default {
    @apply flex-1 appearance-none border border-none w-full py-2 px-4 bg-gray-100 rounded-lg text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent;
  }
  .btn-default {
    @apply py-4 px-2  bg-blue-600 rounded-md border-transparent flex-1 justify-center items-center text-sm hover:bg-blue-500  focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-offset-transparent
    focus:ring-green-500
     uppercase text-white font-bold;
  }
  .btn-cancel {
    @apply py-4 px-2  bg-red-600 rounded-md border-transparent flex-1 justify-center items-center text-sm hover:bg-red-500  focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-offset-transparent
    focus:ring-green-500
     uppercase text-white font-bold;
  }
  label {
    @apply text-gray-500 text-xs hover:text-green-500;
  }
}
